/* Set width to 320 px and set font size default */
body {
	font-family: "Arial", sans-serif;
	font-size: 10pt;
}

/* Main section image positioning */

#main {
	position: relative;
}

.listNumber {
	font-weight: bold;
	color: #00aeef;
}

	
